@import "./local-norm.css";

body {
    color: var(--text);
    background-color: var(--white);
    font-family: 'open-sans';
    font-size: 18px;
    line-height: 1.67;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.link {
}
.logo {
    width: 69px;
    height: 56px;
}
.list {
}
.menu-list {
}
.menu-item {
}
.menu-link {
}
.link-tel {
}
.btn {
}
.order-button {
}
.burger-menu {
    width: 40px;
    height: 40px;
    color: var(--dark-text);
}
.icon {
}
.modal-menu {
}
.modal-addr {
}
.addr-item {
}
.modal-contacts {
}
.list-item {
}
.socials-link {
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 40px;
    }
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-header .menu-list,
    .page-header .menu-address {
        display: none;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        right: -337px;
        width: 100%;
        max-width: 337px;
        height: 100%;
        overflow-y: scroll;
        padding: 48px 30px;
        background: #FFFFFF;
        box-shadow: 
            -4px 0px 8px rgba(0, 0, 0, 0.04), 
            -2px 0px 4px rgba(0, 0, 0, 0.08), 
            -1px 0px 3px rgba(0, 0, 0, 0.16),
            0 0 100vw 100vw rgba(25, 28, 38, 0.2);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(0);
        transition:
            transform 250ms cubic-bezier(var(--cubic)),
            visibility 0s 250ms;
    }
    .mobile-menu.is-open {
        transform: translateX(-337px);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition:
                /* opacity 0 250ms, */
                visibility 0;
    }
    .modal-container {
    }
    .close-menu {
        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: auto;

        cursor: pointer;
        color: var(--dark-text);
        border: transparent;
    }
    
}