@import "./local-norm.css";

body {
    color: var(--text);
    background-color: var(--white);
    font-family: 'open-sans';
    font-size: 18px;
    line-height: 1.67;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
@media screen and (min-width: 480px) {
    .container {
        width: 420px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 688px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.link {
}
.logo {
}
.list {
}
.menu-list {
}
.menu-item {
}
.menu-link {
}
.link-tel {
}
.btn {
}
.order-button {
}
.burger-menu {
}
.mobile-menu {
}
.modal-container {
}
.close-menu {
}
.icon {
}
.modal-menu {
}
.modal-addr {
}
.addr-item {
}
.modal-contacts {
}
.list-item {
}
.socials-link {
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 40px;
    }
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-header .menu-list,
    .page-header .menu-address {
        display: none;
    }
}