/* vp - 1170+p*2, 690+40p*2, 418+30p*2 */

:root {
    --primary-brand: #4D5AE5;
    --order-active: #404BBF;
    --Dark: #2E2F42;
    --Modal: #FCFCFC;
    --Success: #31D0AA;
    --_text: #434455;
    --text-modal: #757575;
    --Subtle-Text: #8E8F99;
    --Accent: #E7E9FC;
    --Light: #F4F4FD;
    --bgc-white: #fff;
    --icon: #000;
    --modal-decor: rgba(33, 33, 33, 0.2);
    --placeholder: rgba(255, 255, 255, 0.6);
    --cubic: 0.4, 0, 0.2, 1;
    --gap-h: 24px;
    --gap-v: 72px;
    --gap-text: 8px;
}

@media screen and (min-width: 428px) {}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}